/*
	This file contains styles for Layouts plugin elements to be displayed in the front end
 */
@import url('../../toolset/toolset-common/utility/css/notifications.css');

#wpadminbar ul#wp-admin-bar-root-default> li.layouts-edit-link a{position:relative;}
#wpadminbar ul#wp-admin-bar-root-default> li.layouts-edit-link a:before{
  font-family: "onthegosystems-icons"!important;
  content: "\f117";
  top:2px;
}


.spinner {
    background: url(../images/spinner.gif) no-repeat;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    display: none;
    float: right;
    opacity: .7;
    filter: alpha(opacity=70);
    width: 20px;
    height: 20px;
    margin: 2px 5px 0;
}

.ajax-loader {
    display: inline-block;
    float: none;
    margin: 0 10px;
    padding: 0;
    vertical-align: middle;
}

/* BOOTSTRAP NAVBAR OVERRIDES */

/* handle full width rows */

.ddl-full-width-row>[class*="col-"]:last-child {
padding-right: 0px;
}
.ddl-full-width-row>[class*="col-"]:first-child {
padding-left: 0px;
}

/* COMMENTS */

.comment-body p, .comment-body div{word-wrap: break-word;}

/* WPML MENU FIX */
.ddl-nav-wrap .menu-item-language{display:none;}

/* bootstrap menu fix */
.dropdown-backdrop {
    position: static !important;
}

/*////// NOT ASSIGNED MESSAGE //////////*/
.panel {
    margin-bottom: 22px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding:0px;
}
.not-assigned {
    border-color: #ddd;
}

.not-assigned {
    margin-bottom: 22px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.not-assigned{max-width:700px;margin:50px auto}
.not-assigned-body{text-align:center}
.not-assigned-body .btn{margin-top:5px}
.not-assigned-body .small{margin-top:5px}
.not-assigned-helper{margin-top:15px}
.not-assigned-helper ul{font-size:.9em}
.not-assigned h4{font-size:1.25em;}
.not-assigned .text-center {
    text-align: center;
}
.panel-body{padding:15px;}
.panel-default{border-color: #ddd;}
.panel-default > .panel-heading {
    color: #666666;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.not-assigned .panel-footer-sm {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: .8em;
}
.not-assigned .panel-footer {
    padding: 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.not-assigned .btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 12px;
    font-size: 16px;
    line-height: 1.428571429;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.not-assigned .btn-primary {
    color: #fff;
    background-color: #3CBEFE;
    border-color: #23b6fe;
}
.not-assigned .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 0px;
}
.not-assigned .btn-primary{
    background-color: #3cbefe;
    border-color: #1eb4fe;
}
.not-assigned .not-assigned-body .btn {
    margin-top: 5px;
}
.not-assigned-helper{
    padding:10px 10px 0px 45px;
}
.not-assigned-helper ul {
    font-size: .9em;
}
.not-assigned-helper ul li a{
    color: #3cbefe;
}
/*///////////////// NOT ASSIGNED END ///////////////////////*/
