/*! ******************************************************
*
*	Theme Name:     Tonality Custom Theme
*   Author:         Ronald Fuquay
*   Author URI:     http://thecreativebeard.com/
*   Description:    Simple, clear and modern Bootstrap 3-based theme. Perfect base for developing all kinds of responsive sites with Toolsets, including the Layouts plugin (no extra integration needed, you activate Layouts and the drag and drop facilities work out of the box). Uses WordPress theme customizer and supports Font Awesome Icons. Supports WooCommerce integration by styles unification.
*   Version:        1.0
*   License:        GNU General Public License v2 or later
*   License URI:    http://www.gnu.org/licenses/gpl-2.0.html
*   Template:       toolset-starter
*
*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* Header Customizations */
.header-nav {
    background-color: #866B58;
    border-bottom: solid 10px #675244;
}

.header-top {
    background-color: #00A1E7;
    padding: 0;
}

.header-top a {
    color: #fff;
    padding: 5px 2px;
}

.header-top .ddl-navbar-toggle {
    float: left;
    padding: 5px 2px !important;
    display: none;
}

.col-sm-7.member-menu {
    float: left;
}

@media screen and (max-width: 767px) {
    .header-top .navbar-collapse, .header-top .ddl-navbar-collapse {
        position: relative;
    }
}

.social-icons {
    font-size: 1.4em;
    text-align: right;
    float: right;
}

@media screen and (max-width: 767px) {
    .social-icons {
        width: 100%;
        text-align: center;
    }
}

.header-top .nav>li>a, .header-top .ddl-nav>li>a {
    padding: 5px 10px;
}

.header-top .ddl-nav-wrap {
    float: left;
}

.header-nav .logo {
    text-align: inherit;
}

.navbar-collapse, body .ddl-navbar-collapse {
    padding-right: 0 !important;
    padding-left: 0 !important;    
}

.navbar-default, body .ddl-navbar-default {
    background-color: transparent !important;
}

.ddl-nav-wrap {
    margin: 0 !important;
}

@media screen and (min-width: 1200px) {
    .header-nav .nav>li>a, .header-nav .ddl-nav>li>a {
        padding: 40px 22px;
    }
}

@media screen and (min-width: 768px) {
    .header-nav .nav>li>a, .header-nav .ddl-nav>li>a {
        padding: 40px 10px;
    }
}

.ddl-navbar-toggle {
    padding: 43px 12px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    background-color: transparent !important;
}

/* Jumbotron stuff */

.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
    background: -webkit-linear-gradient(rgba(0, 161, 231, 0.75), rgba(0, 161, 231, 0.75)), url(images/cta-bg.jpg);
    background: -o-linear-gradient(rgba(0, 161, 231, 0.75), rgba(0, 161, 231, 0.75)), url(images/cta-bg.jpg);
    background: linear-gradient(rgba(0, 161, 231, 0.75), rgba(0, 161, 231, 0.75)), url(images/cta-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;  
    color: #ffffff;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

/* footer customizations */

.footer-credits-block {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #866B58;
    font-size: .9em;
    color: #fff;    
}

.main-footer {
    background-color: #866B58;
    border-top: 3px solid #675244;
    color: #fff;
}

/* Form customizations */

@media screen and (min-width: 768px) {
    .cred-taxonomy-auxilliary, .wpt-hierarchical-taxonomy-add-new, .wpt-taxonomy-show-popular-list {
        margin-top: 0 !important;
    }
}

.cred-taxonomy {
    margin-bottom: 15px;
}

/* Listing customizations */

.list-element.featured, .product-list-table tr.featured td, .featured, .featured td {
    background: rgba(0, 161, 231, 0.2) !important;
    border-bottom: 1px solid #00A1E7;
}